
body{
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
}
h1{
    color: black;
}
header{
    display: flex;
    justify-content:start;
    width: 100%;
    
}
.logo{
    width: 25.8%;
}
.logo img{
    padding-left:30px;
    width: 30%;
}
.titulo{
    text-align: center;
    width: 47.4%;
}
nav{
    padding: 3px;
    border : 1px solid white;
    width: 20%;
    margin-right: 2px;
    border-style:double
}
section{
    display: flex;
    flex-direction: row;
    padding: 3px;
    border: 1px solid red ;
    border-style: dotted;
    width: 70%;
}
aside{

    display: flex;
    justify-content: center;
    text-align: justify;
    padding-left: 10px ;
    width: 34%;
    height: 15%;
}
.divParrAside{
    border: 1px solid grey ;
    border-style: dotted;
}
footer{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
footer img{
    border-radius: 50%;
    width: 50px;

}
footer button{
    cursor: pointer;
    border-color: transparent;
    background-color:transparent;
    
    animation: none;
}
.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.img1{
    
    text-align: center;
    
}
.img1 img{
    width: 100%;
}

.videoPreparacion{
    display: flex;
    justify-content: center;
}

.Ubicacion{
    padding: 2px;
    display: flex;
    justify-content: center;

}

.frameUbicacion{
    margin-left: 2%;
}

.listaPrincipal {
    width: 60%;
}

.listaPrincipal h2{
    color: red;
    text-decoration:underline;
}
.btnWhatsapp{
    padding-left: 32%;
    padding-top: 100px;
    text-align: center;
    position:fixed;

}
.btnWhatsapp img{
    width: 50px;
    border-radius: 50%;
}
.btnWhatsapp button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    background-color: white;
    animation: none;
}
.parrafoAside {
    
    font-size: 13px;
    font-family:'Trebuchet MS';
}