h1{
    color: black;
}
.intro{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 20px;
    
}
.intro img{
    margin-left: 1.5%;
    width: 50%
    
}
.intro p{
    margin-left: 1.5%;
    text-align: justify;
    width: 50%;
}
.preparacion li{
    padding: 5px;
}

.videoPreparacion{
    margin-left: 2%;
}

.ubicacion{
margin-top: 10px;

}

.frameUbicacion{
    margin-left: 2%;
}
