@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@font-face {
    font-family: "Shalimar";
    src: url("./fonts/Shalimar-Regular.ttf")
    format("truetype");
}

/* ---------------------HEADER---------------------- */
body {
    display: flex;
    flex-wrap: wrap;
}

header{
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: double green;
    font-size: 1em;

}
.titulo{
    display: flex;
    text-align: center;
    box-sizing: border-box;
    font-size:clamp(2em,3vw,5em);
    word-wrap: break-word;
    font-family: 'Inspiration', cursive;
    
}
.titulo p{
    
    font-size: calc(1vw + 0.7em);
}

.logo{
    display: flex;
}
.logo img{
    width:100%;
    height: 10vh;
}
.botonesFo{
    justify-content: center;
    display: flex;
    flex-direction: row;
    

}
.botonesFo img{
    border-radius: 50%;
    width: 100%;
    height: 8vh;
    object-fit: contain;
}
.botonesFo button{
    cursor: pointer;
    border-color: transparent;
    background-color:transparent;
    animation: none;
}
/* ---------------------NAV---------------------- */
nav{
    height: fit-content;
    padding: 1em;
    align-items: flex-start;
    min-height: 0em;
    width: 20%;
    border: double violet;
    box-sizing: border-box;
}
.listaDeLinks{
    justify-content: space-evenly;
    width: 100%;
    font-size:clamp(.8em,2vw,5em);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:0.1em;
    word-wrap: break-word;
    font-family:"Shalimar";
    font-weight:bold;
    
}
.listaDeLinks a{
    text-decoration: none;
}
.listaDeLinks a{
    box-sizing: border-box;
    padding: .5em;
    width: 100%;
}
.parrafo1{
    
    width: 100%;
    word-wrap: break-word;
    font-size:clamp(1em,2vw,5em);
    
}
section{
    display: flex;
    box-sizing: border-box;
    width: 80%;
    border: double orange;
}
section img{
    width: 100%;
}
.principal{
    box-sizing: border-box;
    padding: 1em;
    word-wrap: break-word;
    display: flex;
    width: 75%;
    flex-direction: column;
    font-size:clamp(1.2em,1vw,5em);
}
.pasos ol li{
    padding: .5em;
}
aside{
    height: fit-content;
    width: 25%;
    box-sizing: border-box;
    font-size:clamp(0.7em,1vw,5em);
    word-wrap: break-word;
    border: double blue;
}
aside p{
    
    box-sizing: border-box;
    padding: 1em;
}

.videoPreparacion{
    display: flex;
}
.videoPreparacion iframe{
    width: 100%;
}

.ubicacion{
    display: flex;
}
.ubicacion iframe{
    width: 100%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: double salmon;
    box-sizing: border-box;
}
.containerIframe{
    box-sizing: border-box;
    margin: 1em;
    display: flex;
    
}
.containerIframe iframe{
    width: 100%;
    height: 40vh;
}
.datosP{
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    display: flex;
    flex-direction: column;
    border: double grey;

}
.datosP p{
    height: .1em;
}

.btnWhatsapp{
    width: 20%;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    position:fixed;
    right: 1em;
    bottom: 0;

}
.btnWhatsapp img{
    width: 70%;
    border-radius: 50%;
}
.btnWhatsapp button{
    min-width: 6em;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    background-color: transparent;
    animation: none;
}